body {
  display: grid;
  grid-template-columns: 1;
}

header {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  background-color: aliceblue;
}

ul {
  padding-left: 40px;
}
